body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 3px solid;
}
header{
    background-image:linear-gradient(rgb(113, 224, 113),yellow);
    position: relative;
    top: 0px;
    height: 100px;
    width: 100%;
    position: fixed;
}
header p{
    color: blue;
}
header::before{
    content: "The best and fastest company";
    color: black;
    font-weight: bolder;
    font-style: oblique;
}
header::after{
    content: "Your first choise should be haben";
    padding-bottom: 20px;
    padding-right: 20px;
    color: red;
    float: right;
}
header img{
    width: 140px;
    height: 100px;
    float: left;
}
nav{
background-image:linear-gradient( rgb(129, 231, 226), rgb(152, 243, 152)); 
margin-top: 95px;
text-align: center;
width: 100%;
position: fixed;
}
nav li{
display: inline-block;
text-align: center;
margin-left: 60px;
font-size: 25px;
}
main{
    background-color: rgb(175, 202, 52);
}
.container{
    background-color: rgb(134, 224, 141);
    margin-top: 120px;
}
.container h1{
    background-color: rgb(134, 224, 141);
    margin-top: 150px;
}
